html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background: #dadde6;
  transition: background-color 3s ease;
  background: linear-gradient(
    135deg,
    #e91e63,
    #9c27b0,
    #673ab7,
    #3f51b5,
    #2196f3,
    #00bcd4,
    #009688,
    #4caf50,
    #8bc34a,
    #cddc39,
    #ffeb3b,
    #ffc107,
    #ff9800,
    #ff5722,
    #795548,
    #607d8b,
    #e91e63
  );
  background-size: cover;
  animation: gradientAnimation 10s linear infinite;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: azure;
  z-index: 1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  animation: colorchange 3s infinite;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5),
    4px 4px 5px rgba(255, 165, 0, 0.5), 6px 6px 5px rgba(255, 255, 0, 0.5),
    8px 8px 5px rgba(0, 128, 0, 0.5), 10px 10px 5px rgba(0, 0, 255, 0.5),
    12px 12px 5px rgba(75, 0, 130, 0.5), 14px 14px 5px rgba(238, 130, 238, 0.5);
}
button {
  font-family: "Varela Round", sans-serif;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: rgb(119, 84, 84);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1;
  animation: blinkAnimation 1.5s infinite;
}
button:hover {
  background-color: #10b3ef;
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.topLeft {
  position: absolute;
  top: 15px;
  left: 15px;
}
.topRight {
  position: absolute;
  top: 15px;
  right: 15px;
}
.bottomLeft {
  /* Add this class for positioning the change background color button */
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.background-pattern span {
  position: absolute;
  font-size: 16px;
}
@keyframes blinkAnimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  button.topLeft {
    font-size: 1rem;
    padding: 8px 15px;
  }
  button.topRight {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
